      <div class="sticky top-0 z-50 glassmorph py-4 px-6 flex w-full items-center justify-between space-x-4">
        <a href="{{site.baseurl}}/">
        <h3 class="text-lg md:text-2xl font-extrabold text-white text-left leading-tight">
          <i class="fa-solid fa-code text-blue-400"></i> UI Transformer
        </h3>
        </a>
        <div class="flex gap-2 items-center-safe">
          <div id="user-info" class="hidden text-sm text-gray-700"></div>
          <button id="login-btn" class="cursor-pointer bg-blue-600 hover:bg-blue-700 text-white text-sm px-4 py-2 rounded">
            Login
          </button>
          <button id="logout-btn" class="cursor-pointer bg-red-500 hover:bg-red-600 text-white px-4 text-sm py-2 rounded hidden">
            Logout
          </button>
        </div>
      </div>